.footer {
  width: 100%;
  height: 70px;
  background-color: var(--bg-secondary);
}

.footerRow {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 271px;
  padding-right: 20px;
}

.firstItem {
  margin-right: 78px;
  text-decoration: none;
  line-height: 1;
}

.groupItem {
  display: flex;
  align-items: center;
  gap: 43px;
  text-decoration: none;
  white-space: pre-line; /*перенос на другую строку*/
  text-align: center;
  margin-right: 126px;
  line-height: 1;
}

.firstItem:hover,
.groupItem a:hover {
  text-decoration: underline;
  color: var(--text-white);
}

.textBase {
  font-family: var(--font-header-footer);
  color: var(--text-white);
  font-weight: 400;
  font-size: 20px;
}

.textCopyrate {
  font-family: var(--font-main);
  color: var(--text-white);
  font-weight: 400;
  font-size: 14px;
  margin-left: auto;
}
