.subcategoryList {
  width: 100%;
  padding: 18px 0px 23px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.subcategoryItem {
  padding: 8px 15px 8px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--bg-white);
}

.subcategoryItem:hover {
  background-color: var(--bg-mainCatalog);
}

.subcategoryLink {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.itemText {
  font-family: var(--font-headings);
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-color);
  margin-right: 15px;
}

.itemNum {
  font-family: var(--font-mono);
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-black);
}

.parentError {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 180px;
}
.blockError {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--text-white);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
  padding: 30px 0 30px 0;
  gap: 30px;
}

.textError {
  font-family: var(--font-mono);
  font-size: 18px;
  line-height: 1.2;
  color: var(--text-black);
  font-weight: bold;
}
