.breadcrumbs {
  margin-top: 25px;
  margin-bottom: 13px;
}

.list {
  text-decoration: none;
  color: var(--text-black);
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 18px;
}
.link {
  margin-right: 19px;
  font-family: var(--font-mono);
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-black);
}
.link:hover {
  text-decoration: underline;
}
